* {
    margin: 0;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 0px;
    grid-auto-flow: dense;

    .post {
        position: relative;
        background-color: rgb(214, 214, 214);
        display: flex;
        margin: 10px;
        justify-content: space-between;
        min-height: 200px;
        border-radius: 15px;
        padding: 10px;

        .titlewrapper {
            background-color: rgb(160, 157, 157);
            border-radius: 15px;
            min-width: 200px;
            min-height: 100px;

            .date {
                font-size: 14px;
                color: black;
                margin-bottom: 5px;
                text-align: center;
            }

            .title {
                font-size: 24px;
                color: black;
                font-weight: 600;
                margin-bottom: 5px;
                text-align: center;
            }

            .text {
                text-align: center;
                font-size: 14px;
                color: black;
            }
        }

        .likeWrapper {
            display: flex;
            justify-content: space-between;
        }



        .image {
            border-radius: 15px;
            width: 100px;
            height: 100px;
            min-width: 50%;
        }
    }
}