* {
    margin: 0;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 0px;
    grid-auto-flow: dense;

    .post {
        position: relative;
        background-color: rgb(214, 214, 214);
        display: flex;
        margin: 10px;
        justify-content: space-between;
        min-height: 200px;
        border-radius: 15px;
        padding: 10px;

        .titlewrapper {
            background-color: rgb(160, 157, 157);
            border-radius: 15px;
            min-width: 200px;
            min-height: 100px;

            .date {
                font-size: 14px;
                color: black;
                margin-bottom: 5px;
                text-align: center;
            }

            .title {
                font-size: 24px;
                color: black;
                font-weight: 600;
                margin-bottom: 5px;
                text-align: center;
            }

            .text {
                text-align: center;
                font-size: 14px;
                color: black;
            }
        }

        .likeWrapper {
            display: flex;
            justify-content: space-between;
        }



        .image {
            border-radius: 15px;
            width: 100px;
            height: 100px;
            min-width: 50%;
        }
    }
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;

    & .path {
        stroke: rgb(210, 70, 75);
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% { 
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}