.tab {
    padding: 20px;
    background: none;
    border: 0px solid;
    border-bottom: 3px solid rgb(138, 47, 47);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.tab:hover {
    color: rgb(47, 47, 221);
    border-bottom: 3px solid rgb(47, 47, 221);
}