.wrapper {
  width: 100%;
  display: flex;
  align-items: center;

}

.Main {
  background-color: #F3F3F3;
}

.Footer {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;

  .Wrapper {
    width: 1120px;
    border-top: 1px solid #DADADA;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #8D8E97;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

}

.App-header {
  background-color: #2231AA;
}