.posts {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;

    .leftPosts {
        width: 70%;


        .bottomPosts {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }



    .asidePosts {

        display: flex;
        flex-direction: column;
        width: 30%;
    }

}

.navigation {
    padding-top: 100px;
}