.post {
    position: relative;
    background-color: rgb(214, 214, 214);
    margin: 10px;
    justify-content: space-between;
    min-height: 200px;
    border-radius: 15px;
    padding: 10px;

    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .titlewrapper {
        background-color: rgb(160, 157, 157);
        border-radius: 15px;
        min-width: 200px;
        min-height: 100px;

        .date {
            font-size: 14px;
            color: black;
            margin-bottom: 5px;
            text-align: center;
        }

        .title {
            font-size: 24px;
            color: black;
            font-weight: 600;
            margin-bottom: 5px;
            text-align: center;
        }

        .text {
            text-align: center;
            font-size: 14px;
            color: black;
        }
    }

    .likeWrapper {
        display: flex;
        justify-content: space-between;
    }



    .image {
        border-radius: 15px;
        max-height: 200px;
        width: 500px;
    }
}