.LikeButton {
    width: 50px;
    height: 50px;
    background: rgb(94, 94, 255);
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: 0px solid;
    border-radius: 50%;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.LikeCounter {
    position: absolute;
    left: 65px;
    bottom: 15px;
    font-size: 24px;
}

.LikeButton:hover {
    transform: scale(1.1);
}

.DislikeButton {
    width: 50px;
    height: 50px;
    background: rgb(255, 0, 0);
    position: absolute;
    left: 105px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: 0px solid;
    border-radius: 50%;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.dislikeCounter {
    position: absolute;
    left: 165px;
    bottom: 15px;
    font-size: 24px;
}

.DislikeButton:hover {
    transform: scale(1.1);
}


.FavoriteButton {
    width: 50px;
    height: 50px;
    background-color: gold;
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: 0px solid;
    border-radius: 50%;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.FavoriteButton:hover {
    transform: scale(1.1);
}

.likeActive {
    background-color: rgb(0, 255, 191);
}

.dislikeActive {
    background-color: rgb(255, 0, 98);
}

.favActive {
    background-color: rgb(72, 255, 0);
}